@page
@model MiniAccountManagementSystem.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}


<div class="text-center mt-5">
    <h2 class="text-danger">⛔ Access Denied</h2>
    <h5>You do not have permission to access this page.</h5>
    <a asp-page="/Index" class="btn btn-outline-primary">Go Back Home</a>
</div>