@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml"; //Bind Layout
    ViewData["Title"] = "Index";
}

<h2>User List With Assign User Roll</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Manage Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a asp-action="ManageRole" asp-controller="UserRole" asp-route-userid="@user.Id" class="btn btn-primary"> Assign Role </a>
                </td>
            </tr>
        }
    </tbody>
</table>

